/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.section-container {
  @apply max-w-screen-2xl px-4 lg:px-20;
}

.navbar-scrolled {
  box-shadow: 0 2px 14px #7a7a7a90;   
}

/* ================Papai CSS================= */



.subtitle {
  @apply text-blue uppercase tracking-wide font-bold text-lg;
}

.title {
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2;
}

.slick-slider {
  /* background-color: aquamarine; */
  /* padding-left: 30px; */
  /* height: 480px !important; */
}

.slick-prev {
  z-index: 1;
  /* background-color: blue !important; */
}
.slick-next {
  z-index: 1;
  /* background-color: blue !important; */
}

.slick-dots li button:before {
  color: rgb(179, 178, 178) !important;
  font-size: 10px !important;
  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  /* font-size: 12px !important; */
}

.heartStar {
  border-radius: 0px 28px 0px 28px;
}

.footer-title {
  color: black !important;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #39db4a;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem;
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
